@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
}

section {
  padding: 0.75rem;
}

ul#pokemonsList li.eachPokemon {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  padding: 0.5rem;
  color: white;
  border-radius: 0.4rem;
  max-height: 120px;
}

ul#pokemonsList li.eachPokemon div.name_number {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

ul#pokemonsList li.eachPokemon div.name_number span {
  font-size: min(5vw, 0.75rem);
}

ul#pokemonsList li.eachPokemon div.types_photo {
  display: flex;
  justify-content: space-between;
}

ul#pokemonsList li.eachPokemon div.types_photo ul.types {
  list-style: none;
  padding: 0;
  margin-right: 0.5em;
}

ul#pokemonsList li.eachPokemon div.types_photo ul.types li {
  padding: 0.25em 0.4em;
  margin: 0 0 0.3em 0;
  font-size: min(10vw, 0.75rem);
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  min-width: 4em;
  max-width: 4em;
  border-radius: 0.4rem;
}

ul#pokemonsList li.eachPokemon div.types_photo img.photo {
  width: min(40vw, 70px);
}

/*****************/
/*ALL TYPE COLORS*/
/*****************/

.normal {background-color: #A8A77A;}
.grass {background-color: #7AC74C}
.fire {background-color: #EE8130}
.water {background-color: #6390F0}
.electric {background-color: #F7D02C}
.ground {background-color: #E2BF65}
.poison {background-color: #A33EA1}
.flying {background-color: #A98FF3}
.fighting {background-color: #C22E28}
.psychic {background-color: #F95587}
.dark {background-color: #705746}
.rock {background-color: #B6A136}
.bug {background-color: #A6B91A}
.ghost {background-color: #735797}
.steel {background-color: #B7B7CE}
.dragon {background-color: #6F35FC}
.fairy {background-color: #D685AD}
.ice {background-color: #96D9D6;}

/****************/
/*RESPONSIVIDADE*/
/****************/

@media (max-width: 320px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 320px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 480px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 640px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 800px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1040px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  ul#pokemonsList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1680px) {
  ul#pokemonsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}